@import "bourbon";
@import "font-awesome";

body {
  margin-top: 40px;
  background: #94D3F0;


  width: 1200px;
  // position: relative;
  // overflow: hidden;
  h1 {
    width: 400px;
    margin: 30px auto;
    font-size: 2em;
  }
  h2 {
    width: 450px;
    font-size: 1.3em;
    margin-left: 10px;
    margin-bottom: 0;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    padding: 15px 5px;
  }

  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: #11ABFF;
  }
  ul, li {
    display: inline-block;
    list-style: none;

  }

// INDEX.HTML ------------------------------------------
// Banner

#banner{  //container for texture and logo
    width: 1000px;
    height: 100px;
    margin: 0px auto;
    border: solid 1px black;
    overflow: hidden;
}
#bannerBackdrop{ //moving texture 
    position: relative;
    background: url(../img/coldSteel.jpg) repeat-x;
    width: 1320px;
    height: 200px;
    animation: backdrop_roll linear 12s infinite;
}
@keyframes backdrop_roll { from { right: 0px; } to { right: 300px; } }

#bannerContent{ //container for logo
    position: relative;
    height: 160px;
    margin: 20px 20px;
    top: -220px;   
}
#bannerContent img { //logo
    width: 280px;
}
// Tabs
 .tabWrapper{
      margin-top: 50px;
      width: 800px;
      height: 500px;
      margin: 0 auto;

    }

    ul.tabs{
      margin: 0px;
      padding: 0px;
      list-style: none;
    }
    ul.tabs li{
      background: none;
      color: #222;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }

    ul.tabs li.current{
      background: #ededed;
      color: #222;
    }

    .tabContent{
      display: none;
      background: #ededed;
      padding: 15px;
    }

    .tabContent.current{
      display: inherit;
      height: 400px;

    }
    #tab1 {
      // position: relative;
    }

 //Tab for Penguin Game   
.container {
    width: 285px;
    height: 420px;
    margin: 20px 500px; 
  }
  
  .penguin {
   position: relative;
   background: url(../img/redPenguin.png);
   background-size: contain;
   background-repeat: no-repeat;
   width: 185px;
   height: 202px;
   top: 0px;
   animation: bot_float ease 2s infinite;
  }

  @keyframes bot_float { 
    50% { top: 100px; } 
    100% { top: 0px; } 
  }

  .shadow {
    position: relative;
    height: 16px;
    background: #999;
    opacity: 0.1;
    border-radius: 100%;
    margin: 0px 0px 0px 0px;
    left: -50px;
    top: 100px;
    animation: shadowChange ease 2s infinite;
  }
  #flame {
    background-image: url(../img/flame.gif);
    width: 780px;
    height: 100px;
    z-index: 1000;
    position: absolute;
    left: 210px;
    top: 510px;
  }
  

  @keyframes shadowChange { 50% { margin:0px 20% 0px 20%; opacity:0.7; } 100% { margin:0px 0px 0px 0px; opacity:0.1;  } }
  
// PENGUIN.HTML-----------------------------------------  
  #title {
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    width: 600px;
    margin: 0 auto;

  }
  button {
    display: block;
    float: right;
    font-size: 2em;
    padding: 1%;
    border: 1px solid white;
    border-radius: 2px;


  }
  #blackWrap {
    position: absolute;
    background-color: black;
    z-index: 900;
    width: 1000px;
    height: 350px;
    left: 100px;
    top: 300px;
    transition: all 1s;
    

  }

  .move {
    
  }

  #army {
    float: right;
    z-index: 1000;
    padding: 2%;
  

  }
  #wanted {
    float: left;
    z-index: 1000;
    padding: 3%;
    
  }
  #info {
    margin-top: 80px;
    color: white;
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 2%;
    
  }


  .gameWrapper {
    background-image: url(../img/winterbackground.jpg);
    background-repeat: no-repeat;
    background-size: 1000px 600px;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 2px;

  //   .border {
  //     position: relative;
  //     width: 1000px;
  //     height: 210px;
  //     top: 67%;



  //   #penguin {
  //     position: absolute;
  //     width: 80px;
  //     height: 80px;
  //     top: 50px;
  //     left: 450px;
     

  //   }
  //   img {
  //     width: 100%;
  //     height: 100%;
  //   }
  // } // end of borders
 } // end of .gameWrapper 

 .box {
  width: 1000px;
  height: 260px;
  top: 60%;
  position: relative;
  overflow: hidden;
}

.box b img {
  display: block;
  width: 80px;
  height: 80px;
  background-color: none;
 
  position: absolute;
  -webkit-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  
  animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  }

  @-webkit-keyframes moveX {
  from { left: 0; } to { left: 1000px; }
  }
  @-webkit-keyframes moveY {
  from { top: 0; } to { top: 180px; }


  } 

} // end of body